- var arrEntity = {};
// svg are normalized to 500 width in sketch.
// use actual svg viewbox size for _logowidth_ and _logoheight_ values below.
// if graphic is visually very dense increase the value of _logoheight_ until optical fit on site.
// set a vertical translation with a value for _logotop_ that is a  percentage of the logo height
- arrEntity.airtm = {'name':'AirTM', 'logo':'airtm.svg', 'domain':'airtm.io', 'color':'#1EC7A0','logowidth':500,'logoheight':135, 'logotop': 0};
- arrEntity.autocode = {'name':'Autocode', 'logo':'autocode.svg', 'domain':'autocode.com','color':'#3556E3','logowidth':500,'logoheight':111.11, 'logotop': 6};
- arrEntity.bitbio = {'name':'bitbio', 'logo':'bitbio.svg', 'domain':'bit.bio','color':'#A71F90','logowidth':500,'logoheight':126, 'logotop': -7};
- arrEntity.biofidelity = {'name':'biofidelity', 'logo':'biofidelity.svg', 'domain':'biofidelity.com','color':'#39b8c6','logowidth':500,'logoheight':138, 'logotop': 0};
- arrEntity.blueyard = {'name':'BlueYard', 'logo':'blueyard.svg', 'domain':'blueyard.com', 'color':'#0735fA','logowidth':500,'logoheight':500, 'logotop': 0};
- arrEntity.centrifuge = {'name':'Centrifuge', 'logo':'centrifuge.svg', 'domain':'centrifuge.io','color':'#171515','logowidth':500,'logoheight':154.55, 'logotop': 0};
- arrEntity.dance = {'name':'Dance', 'logo':'dance.svg', 'domain':'dance.co','color':'#7140eb','logowidth':500,'logoheight':193.66, 'logotop': 0};
- arrEntity.decred = {'name':'Decred', 'logo':'decred.svg', 'domain':'decred.org','color':'#0C1E3E','logowidth':500,'logoheight':95, 'logotop': 0};
- arrEntity.filecoin = {'name':'Filecoin', 'logo':'filecoin.svg', 'domain':'filecoin.io','color':'#4FC6CF','logowidth':500,'logoheight':138, 'logotop': 0};
- arrEntity.forta = {'name':'Forta', 'logo':'forta.svg', 'domain':'forta.org','color':'#000000','logowidth':500,'logoheight':146, 'logotop': 0};
- arrEntity.grid = {'name':'GRID', 'logo':'grid.svg', 'domain':'grid.is','color':'#6C4AA2','logowidth':500,'logoheight':183, 'logotop': 0};
- arrEntity.grin = {'name':'Grin', 'logo':'grin.svg', 'domain':'grin.mw','color':'#FDF100','logowidth':500,'logoheight':600, 'logotop': 0};
- arrEntity.haven = {'name':'Haven', 'logo':'haven.svg', 'domain':'gethaven.app','color':'#0CC16B','logowidth':500,'logoheight':220, 'logotop': 0};
- arrEntity.humm = {'name':'Humm', 'logo':'humm.svg', 'domain':'thinkhumm.com','color':'#FFA55C','logowidth':500,'logoheight':100, 'logotop': 0};
- arrEntity.ipfs = {'name':'IPFS', 'logo':'ipfs.svg', 'domain':'ipfs.io','color':'#469ea2','logowidth':500,'logoheight':285, 'logotop': 0};
- arrEntity.libp2p = {'name':'libp2p', 'logo':'libp2p.svg', 'domain':'libp2p.io','color':'#EE5499','logowidth':500,'logoheight':235, 'logotop': 0};
- arrEntity.lottie = {'name':'Lottie', 'logo':'lottie.svg', 'domain':'golottie.com','color':'#E06055','logowidth':500,'logoheight':169.29, 'logotop': 2};
- arrEntity.marvelfusion = {'name':'Marvel Fusion', 'logo':'marvelfusion.svg', 'domain':'marvelfusion.io','color':'#000000','logowidth':500,'logoheight':199, 'logotop': -10};
- arrEntity.meatable = {'name':'Meatable', 'logo':'meatable.svg', 'domain':'meatable.com','color':'#FFE0E5','logowidth':500,'logoheight':135, 'logotop': 0};
- arrEntity.nextmatter = {'name':'Next Natter', 'logo':'nextmatter.svg', 'domain':'nextmatter.com','color':'#1B56D5','logowidth':500,'logoheight':64.27, 'logotop': 0};
- arrEntity.ob1 = {'name':'OB1', 'logo':'ob1.svg', 'domain':'openbazaar.org','color':'#3581B4','logowidth':500,'logoheight':400, 'logotop': 0};
- arrEntity.openzeppelin = {'name':'OpenZeppelin', 'logo':'openzeppelin.svg', 'domain':'openzeppelin.com','color':'#2a2a48','logowidth':500,'logoheight':81.4, 'logotop': 0};
- arrEntity.originbio = {'name':'originbio', 'logo':'originbio.svg', 'domain':'origin.bio','color':'#231bfb','logowidth':500,'logoheight':156.19, 'logotop': 0};
- arrEntity.pitch = {'name':'Pitch', 'logo':'pitch.svg', 'domain':'pitch.com','color':'#2b2a35','logowidth':500,'logoheight':400, 'logotop': 0};
- arrEntity.positive = {'name':'Positive', 'logo':'positivefoodco.svg', 'domain':'positive.co','color':'#000000','logowidth':500,'logoheight':185, 'logotop': 0};
- arrEntity.protocollabs = {'name':'Protocol Labs', 'logo':'protocollabs.svg', 'domain':'protocol.ai','color':'#330649','logowidth':500,'logoheight':162.5, 'logotop': 0};
- arrEntity.radicle = {'name':'Radicle', 'logo':'radicle.svg', 'domain':'radicle.xyz','color':'#000000','logowidth':500,'logoheight':83.33, 'logotop': -4};
- arrEntity.rarebase = {'name':'Rarebase', 'logo':'rarebase.svg', 'domain':'rarebase.org','color':'#000000','logowidth':500,'logoheight':83.33, 'logotop': -4};
- arrEntity.seeqc = {'name':'SeeQC', 'logo':'seeqc.svg', 'domain':'seeqc.eu','color':'#67c361','logowidth':500,'logoheight':361, 'logotop': -15};
- arrEntity.spaceknow = {'name':'SpaceKnow', 'logo':'spaceknow.svg', 'domain':'spaceknow.com','color':'#0090E3','logowidth':500,'logoheight':100, 'logotop': 0};
- arrEntity.textile = {'name':'Textile', 'logo':'textile.svg', 'domain':'textile.io','color':'#112CB8','logowidth':500,'logoheight':151, 'logotop': 0};
- arrEntity.vectary = {'name':'Vectary', 'logo':'vectary.svg', 'domain':'vectary.com','color':'#711D8A','logowidth':500,'logoheight':120, 'logotop': 0};
- arrEntity.violet = {'name':'Violet', 'logo':'violet.svg', 'domain':'violet.co','color':'#9000ff','logowidth':500,'logoheight':100, 'logotop': -4};
- arrEntity.wonder = {'name':'Wonder', 'logo':'wonder.svg', 'domain':'wonder.me','color':'#008F8E','logowidth':500,'logoheight':103, 'logotop': 0};
