include _mixin.pug
doctype html
html(lang='en' class='no-js')
	+document-head('Founder Sessions · BlueYard Capital')

	body#blueyard.page.page-event

		+page-banner

		main#page-main.page-main

			h3.uppercase Founder
				|
				br
				| Sessions
			p We invite you to join us for a conversation and live Q&A with Patty McCord, former Chief Talent Officer at Netflix.
			p The session will focus on leader- ship and building a high performance culture of freedom and responsibility.

			time 2021–12–09 17:30 CET
			h1 Patty McCord
			em Speaker
			h2 A Conversation on Leadership and Company Culture

			dl
				dt
					time 17:30
				dd Interview on Zoom

				dt
					time 18:00
				dd Q&A
				dt
					time 18:50
				dd Break
				dt
					time 19:00
				dd Debrief and group conversations on Wonder


			p Patty McCord served as chief talent officer of Netflix for fourteen years and helped create the Netflix Culture Deck. Since it was first posted on the web, the Culture Deck has been viewed more than 15 million times, and Sheryl Sandberg has said that it “may be the most important document ever to come out of Silicon Valley”.
			p Patty participated in IPOs at Netflix and, before that, Pure Atria Software. A veteran of Sun Microsystems, Borland, and Seagate Technologies, she has also worked with small startups. Her background includes staffing, diversity, com- munications, and international human resources positions.
			p Currently, Patty coaches and advises a small group of companies and entrepreneurs on culture and leadership. She also speaks to groups and teams around the world. Patty’s bestselling book “Powerful: Building a Culture of Freedom and Responsibility” was published in 2018 and trans- lated into 12 languages.
			a(href="https://pattymccord.com/") pattymccord.com

		+debug