include _mixin.pug
doctype html
html(lang='en' class='no-js')
	+document-head('Founder Sessions · BlueYard Capital')

	body#blueyard.page.page-event

		+page-banner

		main#page-main.page-main

			a(href="https://app.pitch.com/app/presentation/c46f8458-b5ca-436c-9e5f-a8ed9eed5eca/1734f35e-c851-496b-bc1c-548b8bd38daf") ➤ Learn more on Pitch.com

			script.
				window.location.replace("https://app.pitch.com/app/presentation/c46f8458-b5ca-436c-9e5f-a8ed9eed5eca/1734f35e-c851-496b-bc1c-548b8bd38daf");

		+debug