include _mixin.pug
doctype html
html(lang='en' class='no-js')
	+document-head('BlueYard Capital')
	body#blueyard.page.body-index

		+page-banner--index


		header.page-header#page-header
			+movie

			section.qanda
				.qanda__outer

					ul#qanda__list.qanda__list.qanda-parent
						- var item = {}

						- item.questionhref = "https://medium.com/@BlueYard/blueyard-thesis-cac357725ee6";
						- item.question = 'BlueYard invests in founders with transforming ideas that decentralize markets and empower humanity.';
						- item.arrAnswer = [];
						+qanda__item(item)(class="current")

						- var item = {}
						- item.question = 'What if we could solve our largest planetary challenges?'
						- item.arrAnswer = [arrEntity.meatable,arrEntity.seeqc,arrEntity.positive,arrEntity.marvelfusion,arrEntity.dance, ];
						+qanda__item(item)

						- var item = {}
						- item.question = 'What if we could reinvent the internet for permissionless innovation?'
						- item.arrAnswer = [arrEntity.protocollabs,arrEntity.ipfs,arrEntity.libp2p,arrEntity.filecoin,arrEntity.openzeppelin,arrEntity.radicle,arrEntity.textile];
						+qanda__item(item)

						- var item = {}
						- item.question = 'What if we could live long and prosper?'
						- item.arrAnswer = [arrEntity.bitbio,arrEntity.biofidelity,arrEntity.humm,arrEntity.rarebase];
						+qanda__item(item)


						- var item = {}
						- item.question = 'What if we could untangle software monopolies and liberate data?'
						- item.arrAnswer = [arrEntity.pitch,arrEntity.autocode,arrEntity.nextmatter,arrEntity.grid,arrEntity.vectary,arrEntity.spaceknow,arrEntity.wonder];
						+qanda__item(item)



						- var item = {}
						- item.question = 'What if we could enable the separation of state and money?'
						- item.arrAnswer = [arrEntity.airtm,arrEntity.decred,arrEntity.centrifuge];
						+qanda__item(item)



				.qanda__nav#qanda__nav
					ul.qanda__nav-dot.qanda-parent
						li.qanda__nav-dot-item.current
						- var n = 0;
							while n < 5
								li.qanda__nav-dot-item
								- n++
				+footer



		//include partial/_page-main.pug
		//+page-footer
		+debug

