include _mixin.pug
doctype html
html(lang='en' class='no-js')
	+document-head('Legal notice · BlueYard Capital')

	body#blueyard.page.page-legal

		+page-banner

		main#page-main.page-main
			small#legal.legal
				h1
					| Legal Notice
				dl
					dt
						| BY Capital Management
						|
						abbr(lang="de" title='Gesellschaft mit beschränkter Haftung') GmbH
						|
					dd
					address
						| Blue Yard Capital
						br
						| 						Oranienburger Straße 1-3
						br
						| 						10178 Berlin
					dt
						| General Partners
					dd
						ul
							li
							| Ciaran O’Leary
							li
							| Jason Whitmire
					dt
						| Contact email
					dd
						a(href='mailto:legal@blueyard.com') legal@blueyard.com
					dt
						| Commercial Register
					dd
						| Local Court of Charlottenburg
						|
						abbr(title='Handelsregister Abteilung B') HRB
						|	170693 B
					dt
						abbr(title='Value added tax identification') VAT ID
					dd
						| DE 302210327
					dt
						| Policies and Resources
					dd
						a(href="https://docs.google.com/document/d/1OISqevTub7Q1DJO9Cn0bSlS4LHumXGGgLc7yIVI85sg") Events Code of Conduct and Incident Response Plan
						br
						a(href="https://blueyard.typeform.com/to/E6SkTJ") Incident Response Form
						br
						a(href="https://docs.google.com/document/d/1K_cGm0uHI9kiCD6bE1BL9wK5OD-xP3fVrEMjXLtKmj0")
							abbr.acronym(title="Sustainable Finance Disclosure Regulation") SFDR
							| Disclosures
						br
						a(href="https://docs.google.com/document/d/1uY31eg_SJ4o6cKDFa7vueWhy_tDpuxf1ixORUrNbsFE/edit?usp=sharing") BlueYard Publication Disclaimer
		+debug